* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;

    --systemRed: #ff453a;
    --systemOrange: #ff9f0a;
    --systemGray: #1c1c1e;
    --systemWhiteOpacity: rgba(255, 255, 255, 0.7);
}

html, body, main {
    width: 100%;
    height: 100%;
    background-color: black;
    
}

#main {
    background-image: url("imgs/gradientBg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

h1.section_title {
    position: relative;
    line-height: 77px;
    padding: calc(1.5rem + 100px) 0 10px 60px;
    z-index: 2;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-family: "ClashDisplay-Bold", sans-serif;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
}

h3.project.description {
    font-family: "Urbanist", sans-serif;
    width: 100%;
    font-weight: 400;
    padding: 30px 20px 20px 0;
    color: var(--systemWhiteOpacity);
}

h4 {
    font-family: "ClashDisplay-Medium", sans-serif;
    width: 100%;
    font-size: 4.5rem;
    font-weight: 500;
    text-align: left;
}

h5 {
    font-family: "ClashDisplay-Semibold", sans-serif;
    padding-right: 16px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 5rem;
    font-weight: 400;
}

h5.e-text {
    padding-left: 16px;
}

h5.capsule {
    font-size: 3.5rem;
    color: white;
    padding: 12px 34px 12px 34px;
    border-radius: 50px; 
}

h5.capsule.red {
    rotate: 5deg;
    background-color: var(--systemRed);
}

h5.capsule.orange {
    padding-bottom: 16px;
    rotate: -5deg;
    background-color: var(--systemOrange);
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}

h6.page-selector.overlay {
    font-size: 1.8rem;
    padding: 12px 0 12px 0;
}

h6.page-selector.disabled.overlay {
    color: gray;
    pointer-events: none;
    cursor: default;
}

p {
    font-family: "ClashDisplay-Medium", sans-serif;
}

.nav-bigScreen {
    list-style: none;
    position: fixed;
    width: max-content;
    line-height: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--systemGray);
    border: 1px solid gray;
    top: 20px;
    
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.nav-smallScreen {
    list-style: none;
    position: fixed;
    width: calc(100vw - 60px);
    line-height: 1.5rem;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px 28px 20px 28px;
    margin: 0 30px 0 30px;
    border-radius: 50px;
    background-color: var(--systemGray);
    border: 1px solid gray;
    top: 20px;
    
    left: calc(50% - 30px);
    transform: translateX(-50%);
    z-index: 3;
}

.nav-bigScreen li {
    padding: 0 20px 0 20px;
}

.burger-symbol {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 34px;
    height: 3px;
    border-radius: 50px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    width: 28px;
    transform: translate(0, 4.5px) rotate(-45deg);
}

.change .bar2 {
    width: 28px;
    transform: translate(0, -4.5px) rotate(45deg);
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

.logo {
    color: var(--systemRed);
    text-decoration: none;
    rotate: 0deg;
    transition: rotate 0.8s;
}

.logo:hover {
    scale: 1.1;
    rotate: 2deg;
}

.page-selector {
    color: white;
    text-decoration: none;
}

.page-selector:hover {
    text-decoration: underline;
}

.page-selector.disabled {
    color: gray;
    pointer-events: none;
    cursor: default;
}

.page-selector.disabled:hover {
    text-decoration: none;
    transform: none;
}

.sticky_parent {
    height: calc(((795px - 211px)*6) + 211px);
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: 795px;
}

.scroll_section {
    position: absolute;
    padding: 10px 20px 20px 20px;
    width: 100%;
    height: calc(795px - 211px);
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    z-index: 1;
}

.scroll_section_box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--systemGray);
    padding-left: 60px;
}

.scroll_section_box.team {
    padding: 0;
    overflow: hidden;
}

.scroll_section_box img {
    height: 100%;
    padding: 60px 40px 60px 0;
}

.scroll_section_text {
    display: inline;
    padding: 0 40px 0 40px;
}

.button.link {
    text-decoration: none;
}

.button.link.disabled {
    pointer-events: none;
    cursor: default;
}

.button.paragraph {
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-size: 400;
    color: white;
    width: fit-content;
    padding: 1.2rem 1.5rem 1.2rem 1.5rem;
    border-radius: 50px;
    background-color: blue;
    margin-top: 20px;
}

.button.paragraph.disabled {
    color: var(--systemGray);
    background-color: gray;
}

.button.paragraph.team {
    font-size: 1.2rem;
    padding: 12px 40px 12px 40px;
    margin-top: 8px;
}

.container {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: 795px;
}

.container.prototipe {
    height: calc((795px * 2) - 211px);
}

.section {
    position: absolute;
    padding: 10px 20px 0 20px;
    width: 100%;
    height: calc(795px - 211px - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.section.swift {
    margin-top: calc(795px - 211px);
}

section.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 795px;
    padding-bottom: 10px;
}

section.main article {
    width: 100%;
    margin-block-start: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.main img {
    width: 450px;
    rotate: 5deg;
    animation: levitate 4s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes levitate {
    0%, 100% {
      transform: translateY(0); 
    }

    50% {
      transform: translateY(-10px);
    }
}

.header {
    color: var(--systemWhiteOpacity);
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

section .header .row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.grid-item {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.grid-item.paragraph {
    display: inline;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding-right: 40px;
}

.grid-item.box {
    display: flex;
    text-align: center;
    border-radius: 34px;
    background-color: #2c2c2e;
}

.grid-item.nothing {
    display: flex;
}

.grid-item.img {
    width: 120px;
    height: auto;
    padding: 0;
}

@media screen and (max-width: 1350px) {
    h4 {
        font-size: 4rem;
    }

    .scroll_section_box img {
        height: 80%;
    }
}

@media screen and (max-width: 1220px) {
    .scroll_section_box.team {
        display: block;
        overflow-y: scroll;
    }

    .grid-container {
        grid-template-columns: auto auto;
        height: fit-content;
    }

    .grid-item.nothing {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 3.5rem;
    }

    h3.project.description {
        font-size: 1.1rem;
        padding: 20px 20px 10px 0;
    }

    h4 {
        font-size: 3rem;
    }

    h5 {
        font-size: 4rem;
    }

    h5.capsule {
        font-size: 2.5rem;
    }

    .scroll_section_box img {
        height: 60%;
    }

    section.main img {
        width: 400px;
    }
}

@media screen and (max-width: 855px) {
    h5 {
        font-size: 3rem;
    }

    h5.capsule {
        font-size: 2.2rem;
    }

    section.main img {
        width: 300px;
    }

    .section {
        height: calc(795px - 211px - 20px);
        padding: 10px 20px 0 20px;
    }

    .grid-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }

    h3.project.description {
        font-size: 1rem;
        padding: 10px 20px 0 0;
    }

    h4 {
        font-size: 2.5rem;
        padding-right: 20px;
    }

    .scroll_section_box {
        display: inline;
        justify-content: center;
        padding-left: 25px;
    }

    .scroll_section_box img {
        height: 35%;
        padding: 20px 0 0 0;
    }

    .button.paragraph {
        font-size: 1.2rem;
        margin-top: 0px;
    }
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 2.7rem;
    }

    h5 {
        font-size: 2.3rem;
        padding-right: 12px;
    }

    h5.capsule {
        font-size: 1.9rem;
        padding: 10px 28px 10px 28px;
    }

    h5.capsule.orange {
        padding-bottom: 12px;
    }

    h5.e-text {
        padding-left: 12px;
    }

    .page-selector:hover {
        text-decoration: none;
        transform: none;
    }

    .nav-bigScreen {
        display: none;
    }

    .nav-smallScreen {
        display: flex;
    }

    section.main img {
        width: 250px;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 2.3rem;
    }

    h1.section_title {
        line-height: 44px;
        padding-left: 40px;
    }

    h3.project.description {
        font-size: 1rem;
        padding: 20px 20px 0 0;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 2.2rem;
        padding-right: 8px;
    }

    h5.e-text {
        padding-left: 8px;
    }

    h5.capsule {
        font-size: 1.5rem;
        padding: 8px 25px 8px 25px;
    }

    h5.capsule.orange {
        padding-bottom: 12px;
    }

    .logo:hover {
        text-decoration: none;
        transform: none;
    }

    section.main {
        justify-content: center;
    }

    section.main article {
        display: inline;
        text-align: center;
    }

    section.main img {
        width: 220px;
        padding-bottom: 20px;
    }

    .row {
        justify-content: center;
        padding: 0 0 10px 0;
    }

    .sticky_parent {
        height: calc(((795px - 178px)*6) + 178px);
    }

    .scroll_section {
        height: calc(795px - 178px);
        padding: 10px 20px 20px 20px;
    }

    .scroll_section_box img {
        height: 25%;
        padding: 20px 0 0 0;
    }

    .button.paragraph {
        font-size: 1rem;
        margin-top: 10px;
    }

    .button.paragraph.team {
        font-size: 0.75rem;
    }

    .container.prototipe {
        height: calc((795px * 2) - 178px);
    }

    .section {
        height: calc(795px - 178px - 20px);
        padding: 10px 20px 0 20px;
    }

    .section.swift {
        margin-top: calc(795px - 178px);
    }

    .grid-item {
        font-size: 1.5rem;
    }

    .grid-item.nothing {
        display: none;
    }

    .grid-item.img {
        width: 90px;
        height: auto;
        padding: 0;
    }
}